(kicad_pcb
	(version 20240108)
	(generator "pcbnew")
	(generator_version "8.0")
	(general
		(thickness 1.6)
		(legacy_teardrops no)
	)
	(paper "A4")
	(layers
		(0 "F.Cu" signal)
		(31 "B.Cu" signal)
		(32 "B.Adhes" user "B.Adhesive")
		(33 "F.Adhes" user "F.Adhesive")
		(34 "B.Paste" user)
		(35 "F.Paste" user)
		(36 "B.SilkS" user "B.Silkscreen")
		(37 "F.SilkS" user "F.Silkscreen")
		(38 "B.Mask" user)
		(39 "F.Mask" user)
		(40 "Dwgs.User" user "User.Drawings")
		(41 "Cmts.User" user "User.Comments")
		(42 "Eco1.User" user "User.Eco1")
		(43 "Eco2.User" user "User.Eco2")
		(44 "Edge.Cuts" user)
		(45 "Margin" user)
		(46 "B.CrtYd" user "B.Courtyard")
		(47 "F.CrtYd" user "F.Courtyard")
		(48 "B.Fab" user)
		(49 "F.Fab" user)
		(50 "User.1" user)
		(51 "User.2" user)
		(52 "User.3" user)
		(53 "User.4" user)
		(54 "User.5" user)
		(55 "User.6" user)
		(56 "User.7" user)
		(57 "User.8" user)
		(58 "User.9" user)
	)
	(setup
		(stackup
			(layer "F.SilkS"
				(type "Top Silk Screen")
			)
			(layer "F.Paste"
				(type "Top Solder Paste")
			)
			(layer "F.Mask"
				(type "Top Solder Mask")
				(thickness 0.01)
			)
			(layer "F.Cu"
				(type "copper")
				(thickness 0.035)
			)
			(layer "dielectric 1"
				(type "core")
				(thickness 1.51)
				(material "FR4")
				(epsilon_r 4.5)
				(loss_tangent 0.02)
			)
			(layer "B.Cu"
				(type "copper")
				(thickness 0.035)
			)
			(layer "B.Mask"
				(type "Bottom Solder Mask")
				(thickness 0.01)
			)
			(layer "B.Paste"
				(type "Bottom Solder Paste")
			)
			(layer "B.SilkS"
				(type "Bottom Silk Screen")
			)
			(copper_finish "None")
			(dielectric_constraints no)
		)
		(pad_to_mask_clearance 0)
		(allow_soldermask_bridges_in_footprints no)
		(pcbplotparams
			(layerselection 0x00010fc_ffffffff)
			(plot_on_all_layers_selection 0x0000000_00000000)
			(disableapertmacros no)
			(usegerberextensions no)
			(usegerberattributes yes)
			(usegerberadvancedattributes yes)
			(creategerberjobfile yes)
			(dashed_line_dash_ratio 12.000000)
			(dashed_line_gap_ratio 3.000000)
			(svgprecision 4)
			(plotframeref no)
			(viasonmask no)
			(mode 1)
			(useauxorigin no)
			(hpglpennumber 1)
			(hpglpenspeed 20)
			(hpglpendiameter 15.000000)
			(pdf_front_fp_property_popups yes)
			(pdf_back_fp_property_popups yes)
			(dxfpolygonmode yes)
			(dxfimperialunits yes)
			(dxfusepcbnewfont yes)
			(psnegative no)
			(psa4output no)
			(plotreference yes)
			(plotvalue yes)
			(plotfptext yes)
			(plotinvisibletext no)
			(sketchpadsonfab no)
			(subtractmaskfromsilk no)
			(outputformat 1)
			(mirror no)
			(drillshape 1)
			(scaleselection 1)
			(outputdirectory "")
		)
	)
	(net 0 "")
	(gr_circle
		(center 133.352 82.11)
		(end 135.052 82.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(fill none)
		(layer "Edge.Cuts")
		(uuid "019c0a6d-9bb8-42f8-8584-8f200b71a27b")
	)
	(gr_circle
		(center 165.352 114.11)
		(end 167.052 114.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(fill none)
		(layer "Edge.Cuts")
		(uuid "097c55d3-ce7a-4886-a7db-9a4e9fcd0127")
	)
	(gr_circle
		(center 165.352 82.11)
		(end 167.052 82.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(fill none)
		(layer "Edge.Cuts")
		(uuid "0e8e5788-23b0-4e0e-993f-a94957498ae3")
	)
	(gr_arc
		(start 169.352 114.11)
		(mid 168.180427 116.938427)
		(end 165.352 118.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(layer "Edge.Cuts")
		(uuid "178364bc-250e-4a39-b0ba-4262bbac4b46")
	)
	(gr_arc
		(start 133.352 118.11)
		(mid 130.523573 116.938427)
		(end 129.352 114.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(layer "Edge.Cuts")
		(uuid "3d8baf97-c836-4397-867c-23e52ff05ce1")
	)
	(gr_line
		(start 169.352 114.11)
		(end 169.352 82.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(layer "Edge.Cuts")
		(uuid "871dfad9-a85d-42ce-9d2d-6520fae7f4c4")
	)
	(gr_line
		(start 129.352 82.11)
		(end 129.352 114.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(layer "Edge.Cuts")
		(uuid "8baef1cd-8e58-474a-b843-199aa0080763")
	)
	(gr_arc
		(start 165.352 78.11)
		(mid 168.180427 79.281573)
		(end 169.352 82.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(layer "Edge.Cuts")
		(uuid "a7e36be5-cc10-4aad-836f-bde309666136")
	)
	(gr_line
		(start 165.352 78.11)
		(end 133.352 78.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(layer "Edge.Cuts")
		(uuid "b80e33ff-046b-4986-bc0d-6bc4865afc31")
	)
	(gr_arc
		(start 129.352 82.11)
		(mid 130.523573 79.281573)
		(end 133.352 78.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(layer "Edge.Cuts")
		(uuid "cf226ff4-3173-434d-8c9b-3129470c1ce4")
	)
	(gr_circle
		(center 133.352 114.11)
		(end 135.052 114.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(fill none)
		(layer "Edge.Cuts")
		(uuid "d6648504-8f45-4127-8704-34acfec9c9a4")
	)
	(gr_line
		(start 133.352 118.11)
		(end 165.352 118.11)
		(stroke
			(width 0.1)
			(type solid)
		)
		(layer "Edge.Cuts")
		(uuid "e1f36007-0f9d-4dc5-ae43-6b056652526f")
	)
	(gr_text "{{"{{GITHASH}}"}}"
		(at 140.240427 116.111573 0)
		(layer "F.SilkS")
		(uuid "d894e23f-c5ed-4336-947e-ac38e533f04c")
		(effects
			(font
				(size 2 2)
				(thickness 0.1)
			)
			(justify left bottom)
		)
	)
	(group ""
		(uuid "deecda4f-8c94-4c72-8782-3da851560eb8")
		(members "019c0a6d-9bb8-42f8-8584-8f200b71a27b" "097c55d3-ce7a-4886-a7db-9a4e9fcd0127"
			"0e8e5788-23b0-4e0e-993f-a94957498ae3" "178364bc-250e-4a39-b0ba-4262bbac4b46"
			"3d8baf97-c836-4397-867c-23e52ff05ce1" "871dfad9-a85d-42ce-9d2d-6520fae7f4c4"
			"8baef1cd-8e58-474a-b843-199aa0080763" "a7e36be5-cc10-4aad-836f-bde309666136"
			"b80e33ff-046b-4986-bc0d-6bc4865afc31" "cf226ff4-3173-434d-8c9b-3129470c1ce4"
			"d6648504-8f45-4127-8704-34acfec9c9a4" "e1f36007-0f9d-4dc5-ae43-6b056652526f"
		)
	)
)
